@import 'semantic-ui';


.chatbox{
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}