.ui.small.inverted.menu
  .ui.container
    %a.item{:href => root_path}
      Chatroom
    %a.item
      Messages
    .right.menu
      .ui.dropdown.item
        Account
        %i.dropdown.icon
        .menu
          - if logged_in?
            = link_to "Logout", logout_path, method: :delete, class: "item"
          - else
            = link_to "Log in", login_path, class: "item"
      - if !logged_in?
        .item
          = link_to "Log in", login_path, class: "ui primary button"